* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: none;
}


body {
    background-color: #FBFBF2;
}
/* MODAL----------------------------------------- */

.modal {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    align-items: center;
    background-color: rgb(0,0,0);
    /* this will be a fall back */
    background-color: rgb(0,0,0,0.4);
}

.show {
    display: flex;
    transition: 1s ease;
}
.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgb(0,0,0,0.4)
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
}

label {
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    padding: 0.5rem 1rem;
}

.read-checkbox {
    height: 25px;
    width: 25px;
}


/* HEADER --------------------------- */
.nav-header {
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-color: #847577;
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.btn-modal{
    display: block;
    background-color: #0F7173;
    color: #fff;
    width: 150px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 1px 5px #000;
    cursor: pointer;
}

.btn-modal:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.btn-add-book {
    background-color: #0F7173;
    color: #fff;
    width: 150px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-add-book:hover {
    background-color: #0b5758;
    transition: 0.3s;
}

/* BOOK CARD ======================= */
.book-card {
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgb(0,0,0, 0.4);
    padding: 1rem;
    border-radius: 10px;
}

.book-card > * {
    padding: 0.5rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1.5rem;
}


.card-div {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem;
}

.card-div:not(:last-child) {
    border-bottom: 1px solid #000;
}


.book-status {
    margin: 0 auto;
    padding: 1rem;
    background-color: #DE541E;
    width: 100%;
    color: #fff;
}
.not-read {
    background-color: rgb(189, 120, 120);
}